.card-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
  padding: 50px;
}
.card {
  margin: 15px;
  width: 200px;
  height: 100px;
  border: 1px solid gray;
}
.card__title {
  font-weight: 700;
}
.card__prise {
  color: red;
}
.card.active > .card__title{
  color: orange;
}
.card.prise > .card__prise{
  color: red;
  font-size: 25px;
}